<div class="add-container">
    <div class="routerlink">
    <a routerLink="/films">Films </a>
    </div>
    <div>
        <div class="input">
            <label>Titolo</label>
            <div>
                <input type="text" placeholder="Inserisci titolo" [(ngModel)]="filmService.newFilm.title">
            </div>
        </div>
        <div class="input"> 
            <label>Trama</label>
            <div>
                <input type="text" placeholder="Inserisci trama" [(ngModel)]="filmService.newFilm.description">
            </div>
        </div>
        <div class="input">
            <label>Regista</label>
            <div>
                <input type="text" placeholder="Inserisci regista" [(ngModel)]="filmService.newFilm.director">
            </div>
        </div>
        <div class="input"> 
            <label>Durata</label>
            <div>
                <input type="text" placeholder="Inserisci durata" [(ngModel)]="filmService.newFilm.duration">
            </div>
        </div>
        <div class="input">
            <label>Anno di produzione</label>
            <div>
                <input type="number" placeholder="Inserisci anno" [(ngModel)]="filmService.newFilm.releaseYear">
            </div>
        </div>
        <div class="input">
            <label>Voto</label>
            <div>
                <input type="number" max="5" step="0.5" placeholder="Inserisci voto" [(ngModel)]="filmService.newFilm.stars">
            </div>
        </div>
        <div class="input">
            <label>Cast</label>
            <div>   
                <select [(ngModel)]="filmService.newFilm.cast" multiple>
                    <option *ngFor="let actor of actors" [value]="actor">{{ actor.firstname }} {{actor.lastname}} </option>
                </select>
            </div>
        </div>
        <div class="input">
            <label>Genere</label>
            <div>
                <select [(ngModel)]="filmService.newFilm.genres" multiple>
                    <option *ngFor="let genre of genres" [value]="genre">{{ genre.name }} </option>
                </select>
            </div>
            
        </div>
        <div class="input">
            <label>Tags</label>
            <div>
                <input type="text" placeholder="Inserisci tags" [(ngModel)]="filmService.newFilm.tags">
            </div>
        </div>

        <button (click)="filmService.addFilm()">Aggiungi</button>

    </div>
</div>
