<div class="container">
    <div>
        <h3>Aggiungi film</h3>
    </div>
    <div>
        <div class="form">
            <h5><label>Titolo</label></h5>
            <input type="text" placeholder="Inserisci titolo" [(ngModel)]="filmService.newFilm.title">
        </div>
        <div class="form">
            <h5><label>Regista </label></h5>
            <input type="text" placeholder="Inserisci regista" [(ngModel)]="filmService.newFilm.director">
        </div>
        <div class="form"> 
            <h5><label>Trama </label></h5>
            <textarea rows="4" placeholder="Inserisci trama" [(ngModel)]="filmService.newFilm.description"></textarea>
        </div>       
        <div class="form"> 
            <h5><label>Durata </label></h5>
            <input type="text" placeholder="Inserisci durata" [(ngModel)]="filmService.newFilm.duration">
        </div>
        <div class="form">
            <h5><label>Anno di produzione</label></h5>
            <input type="number" placeholder="Inserisci anno" [(ngModel)]="filmService.newFilm.releaseYear">
        </div>
        <div class="form">
            <h5><label>Cast</label></h5>
            <select [(ngModel)]="filmService.newFilm.cast" multiple>
                <option *ngFor="let actor of actors" [value]="actor">{{ actor.firstname }} {{actor.lastname}} </option>
            </select>
        </div>
        <div class="form">
            <h5><label>Genere</label></h5>
            <select [(ngModel)]="filmService.newFilm.genres" multiple>
                <option *ngFor="let genre of genres" [value]="genre">{{ genre.name }} </option>
            </select> 
        </div>
        <div class="form">
            <h5><label>Cover url</label></h5>
            <input type="text" placeholder="Cover url" [(ngModel)]="filmService.newFilm.coverUrl">
        </div>
        <div class="form">
            <h5><label>Tags</label></h5>
            <input type="text" placeholder="Inserisci tags" [(ngModel)]="filmService.newFilm.tags">
        </div>
        <div class="form">
        <button class="btn" (click)="filmService.editFilm()" routerLink="/films">Aggiungi</button>
        </div>
    </div>
</div>

