.container {background-color: #ececec; border-radius: 4px; padding-top:90px; color: #000;}

.div-top{display: flow-root;}

h3{text-align: center;
    font-size: 40px;
    font-variant: petite-caps;
    text-shadow:4px -3px 4px #969696;
    margin-bottom: 20px;}

.btn{color: #000;
    border-color: #000;
    background-color: transparent;
    float: right;
    padding: 4px;
    }
.btn:hover{color: red;
    background-color: #171717;}

.card-header{text-align: center;
    cursor: pointer;
    box-shadow: -1px 1px 4px 0px #79040491;
    /* background-color: #e6dddd;
    color: #5a2a2a;
     -2px 2px 6px 0px #736565; */
    }

.card-dropdown{padding-bottom: 2px;
    /* box-shadow: -2px 2px 6px 0px #736565;
    background-color: #e6dddd; */
}

h6{text-align: center;
    font-weight: bold;
    color: #800000;}

ul{padding: 0;}


