<div class="container">

    <input type="text" placeholder="Cerca" (input)="search($event)">

    <div>
        <h3>Films disponibili</h3>
    </div>

    <div *ngFor="let film of films" (click)="film.showMore=!film.showMore" class="film-list">
        <div>
            <div>Titolo: {{ film.title }} </div>
            <div> Voto: {{ film.stars }} <app-stars (voteChanged)="setVote(film, $event)" [vote]="film.stars"></app-stars> </div>
            <div>Durata: {{ film.duration }}</div>
        </div>  
        <div *ngIf="film.showMore">
            <div>Attori: {{ getCastList (film.cast) }}</div>
            <div>Anno di produzione: {{ film.releaseYear }}</div>
            <div>Genere: {{getGenreList (film.genres) }}</div>
            <div>Tags: {{ film.tags }}</div>
        </div>
        <div>
            <button (click)="selectThisFilm(film)">Modifica</button>
        </div>

    </div>
</div>
