.container {background-color: #ececec; border-radius: 4px; padding-top:120px;}

h3{text-align: center;
    font-size: 40px;
    font-variant: petite-caps;
    text-shadow:4px -3px 4px #969696;}

h4, h6, p{text-align: center;}

.h-100{box-shadow: -6px 9px 15px 0px #888;}

.card-body h4, h6 {font-family: fantasy;}
.card-body h6{color: #800000;}
.card-body p{color: #2f4f4f;}

.stars-box{text-align: center;
    color: #777;}

.img-container {position: relative;
    padding-bottom: 150%;
    background-position: center center;
    background-size: cover;}

.img-container img {position: absolute;
    top: 0;
    left: 0;}
    