<div class="container">

    <div>
        <h3>Ultimi 4 Films</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-3" *ngFor="let film of lastFilms">
            <div class="card">
                <img src="{{ film.coverUrl }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{ film.title }}</h4>
                    <h6 class="card-title">{{ film.director }}</h6>
                    <p class="card-text">{{ film.duration }}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Top 4 Films</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-3" *ngFor="let film of topFilms">
            <div class="card">
              <img src="{{ film.coverUrl }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{ film.title }}</h4>
                    <h6 class="card-title">{{ film.stars }} stelle</h6>
                </div>
            </div>
        </div>
    </div>

   
</div>